head
	meta(charset="utf8")
	link( rel="stylesheet" href="css/index.css")
body
	center
		h1 Esta pagina utiliza node js como server :3
	center
		img(src="img/nodeLogo.png")
		p la interfaz esta escrita en jade
		p y todo el front se conecta con MongoDB

		input(type="text")
		input(type="button" value="Enviar")