extends layout.jade
block contenido
	section(class="full-height text-center" id="main-content")
		div(class="data")
			div(class="col-md-3 center-block no-float top-space")
				img(src="img/taco_f.png" class="animated fadeIn")
				h1(class="pacifico big green animated fadeIn delay-1") Tacos El Chingon
				div(class="animated fadeInDown delay-2")
					h2 Los mejores tacos de la UTVT
					nav
						a(href="/menu" class="right-space") Menú
						a(href="/contacto" class="right-space") Ubicacion
						a(href="https://github.com/JorgeCarmine" class="right-space") Desarrollo
	script(src="https://code.jquery.com/jquery-2.1.1.min.js")
	script(src="js/main.js")