extends layout.jade
block contenido
	br
	div(class="offset-md-4 col-md-6 center no-float top-space text-left")
		h1(class="pacifico big green") Tacos El Chingon
		div(class="animated fadeInDown delay")
			h2 Login de administraci칩n
			form(method="post" action="/login")
				div(class="form-group")
					label Correo electr칩nico
					input(type="text" name="email" placeholder="Email"  class="form-control")
					label Contase침a
					input(type="password" name="password" placeholder="Contrase침a"  class="form-control")
				div(class="form-group")
					input(type="submit" class="btn btn-info" value="OK")
			if (messages.error)
				.message.error
				.alert.alert-danger(role='alert')= messages.error
					