extends layout.jade
block contenido
	div(class="offset-md-3 col-md-6 no-float top-space text-left")
		h1= "Modificar datos de " + medico.nombre 
		form(action="/modificar-producto/#{medico.id}" method="POST" enctype="multipart/form-data")
			div(class="form-group")
				label Nombre
				input(type="text" value="#{medico.nombre}" name="nombre" placeholder="Nombre del producto" class="form-control" required)
			div(class="form-group")
				label Precio
				input(type="text" value="#{medico.precio}" name="precio" placeholder="$" class="form-control" required)
			div(class="form-group")
				input(type="file" name="imagen")
			div(class="form-group")
				input(type="submit" class="btn btn-primary" value="Guardar")