extends layout.jade
block contenido
	div(class="col-md-5 center-block no-float top-space text-left")
		h1= "¿Esta seguro de que quiere eliminar a " + datos.nombre + "?"
		form(method="POST" action="/eliminar-producto/#{datos.id}")
			div(class="form-group")
				input(type="submit" class="btn btn-primary" value="Eliminar")  
				a(href='javascript:history.back()' class="btn btn-danger") Cancelar
